<!DOCTYPE html>
<html>
<head>
  <title>Calendar - UMass Chord</title>
  <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
</head>
<body>
  <img id="smalllogo" src="../images/chord.png"/>
  <div id="holder">
    <div id="navigation">
      <a href="calendar.html">
        <input class="bigbutton" type = "submit" value="Your Calendar" />
      </a>
      <a href="search.html">
        <input class="bigbutton" type = "submit" value="Search Rooms" />
      </a>
    </div>
  </div>
  <div id="nametag">
    Logged In As
    <span id="name">
      Fred Smith
    </span>
    <br/>
    <a href="index.html">
      <input class="medbutton" type="Submit" value="Log Out" />
    </a>
  </div>
  <div class="divider">
    Search
  </div>
</body>
</html>
